<div class="text-field">
  <%= form.label :email %>
  <%= form.email_field :email, class: "border-2" %>
</div>

<div class="password-field">
  <%= form.label :password %>
  <%= form.password_field :password, class: "border-2" %>
</div>
