<div id="<%= dom_id user %>" class="flex flex-col items-start py-5" >
  <p class="my-2 text-3xl font-bold">
    <%= user.name %>
  </p>

  <p class="my-2 text-xl">
    <%= user.email %>
  </p>
</div>
